<div class="row">
    <div class="col-3"><img src="{{user.image}}" alt="" style="height: 100px;weight:100px;"></div>
    <div class="col-9">
        <h5>{{user.name}}</h5>
        <p>{{user.email}}</p>
        {{#ifCond req.user.id req.params.id}}
        <a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>
        {{/ifCond}}
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <div class="card m-3">
            <h5 class="card-header">{{FollowingsCount}}Followings|追蹤者</h5>
            <div class="card-body">
                {{#each Followings}}
                <a href="/users/{{this.id}}"> <img src="{{this.image}}" alt="追蹤者圖片{{this.id}}"
                        style="height:60px;weight:60px;"> </a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card m-3">
            <h5 class="card-header">{{commenedRestaurants.length}} 已評論餐廳</h5>
            <div class="card-body">
                {{#each commenedRestaurants}}
                <a href="/restaurants/{{this.id}}"> <img src="{{this.image}}" alt="已評論餐廳{{this.id}}"
                        style="height:60px;weight:60px;"> </a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card m-3">
            <h5 class="card-header">{{FollowersCount}}Followers|追隨者</h5>
            <div class="card-body">
                {{#each Followers}}
                <a href="/users/{{this.id}}"> <img src="{{this.image}}" alt="追隨者圖片{{this.id}}"
                        style="height:60px;weight:60px;"> </a>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card m-3">
            <h5 class="card-header">{{FavoritedRestaurantsCount}}已收藏餐廳</h5>
            <div class="card-body">
                {{#each FavoritedRestaurants}}
                <a href="/restaurants/{{this.id}}"> <img src="{{this.image}}" alt="收藏餐廳圖片{{this.id}}"
                        style="height:60px;weight:60px;"> </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>